<!DOCTYPE html>
<html lang="id-ID">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" author="adityatng">
  <title>Asima | Pengenalan Tulisan Tangan Aksara Simalungun</title>
  <link rel="icon" href="../static/rumah-adat-batak.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>
<body>
<section id="hero" class="d-flex align-items-center vh-80">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
            <div>
              <h1>Asima</h1>
              <p style="text-align:justify;">Aplikasi pengenalan tulisan tangan Aksara Simalungun. Menggunakan AI sebagai backend yang dapat secara otomatis mendeteksi karakter. Aplikasi ini juga bagian dari <span class="text-danger" style="cursor:pointer;" onclick="location.href='https://bio.link/tataring'">Tataring - AASC</span> .</p>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img text-center" data-aos="fade-left">
            <img src="../static/rumah-adat-batak.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="main">
    <p class="text-center mt-5">Silahkan tulis aksara Simalungun di kotak merah, <br> prediksi model akan muncul setelah Anda menekan Prediksi! </p>
    <div class="section d-flex text-center justify-content-center align-items-center p-3">
      <div id="paint" class="canv">
          <canvas id="myCanvas" width="350" height="200"></canvas>
          <script>
            var canvas = document.getElementById('myCanvas');
            var ctx = canvas.getContext('2d');
            var painting = document.getElementById('paint');
            var paint_style = getComputedStyle(painting);
            canvas.width = parseInt(paint_style.getPropertyValue('width'));
            canvas.height = parseInt(paint_style.getPropertyValue('height'));
            var mouse = {
              x: 0,
              y: 0
            };
            canvas.addEventListener('mousemove', function(e) {
              mouse.x = e.pageX - this.offsetLeft;
              mouse.y = e.pageY - this.offsetTop;
            }, false);
            ctx.lineWidth = 5;
            ctx.lineJoin = 'round';
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'black';
            ctx.fillStyle = 'white';
            ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);

            function setRec() {
              ctx.fillStyle = 'white';
              ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            }
            canvas.addEventListener('mousedown', function(e) {
              ctx.beginPath();
              ctx.moveTo(mouse.x, mouse.y);
              canvas.addEventListener('mousemove', onPaint, false);
            }, false);
            canvas.addEventListener('mouseup', function() {
              canvas.removeEventListener('mousemove', onPaint, false);
            }, false);

            function clearArea() {
              // Use the identity matrix while clearing the canvas
              ctx.setTransform(1, 0, 0, 1, 0, 0);
              ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
              setRec();
              digit.innerHTML = ''
              accuracy.innerHTML = ''
              p.innerHTML = ""
            }
            // To download the image use
            // const link = document.createElement('a');
            // link.download = 'digit_image.png';
            // link.href = canvas.toDataURL();
            // link.click();
            // link.delete; 
            function save_image() {
              // window.scrollTo(0,document.body.scrollHeight);
              const link = document.createElement('a');
              var image = canvas.toDataURL();
              // clearArea();
              $.ajax({
                type: "POST",
                url: "/predict",
                data: {
                  imageBase64: image
                },
                beforeSend: function() {
                  p.innerHTML = "Memproses masukan Anda...";
                }
              }).done(function(result) {
                digit.innerHTML = result.character
                accuracy.innerHTML = result.accuracy + '%'
                p.innerHTML = "Hasil Prediksi"
              });
            }
            var onPaint = function() {
              ctx.lineTo(mouse.x, mouse.y);
              ctx.stroke();
            };
            // Set up touch events for mobile, etc
            canvas.addEventListener("touchstart", function(e) {
              mousePos = getTouchPos(canvas, e);
              var touch = e.touches[0];
              var mouseEvent = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
              });
              canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchend", function(e) {
              var mouseEvent = new MouseEvent("mouseup", {});
              canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchmove", function(e) {
              var touch = e.touches[0];
              var mouseEvent = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
              });
              canvas.dispatchEvent(mouseEvent);
            }, false);
            // Get the position of a touch relative to the canvas
            function getTouchPos(canvasDom, touchEvent) {
              var rect = canvasDom.getBoundingClientRect();
              return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
              };
            }
            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function(e) {
              if (e.target == canvas) {
                e.preventDefault();
              }
            }, false);
            document.body.addEventListener("touchend", function(e) {
              if (e.target == canvas) {
                e.preventDefault();
              }
            }, {
              passive: false
            });
            document.body.addEventListener("touchmove", function(e) {
              if (e.target == canvas) {
                e.preventDefault();
              }
            }, false);
          </script>
      <div class="d-block text-center p-3">
        <div class="ndiv">
          <p id="p"></p>
        </div>
        <div class="predict align-items-center justify-content-center mb-5">
          <div class="mx-2 d-flex">
            <p>Aksara:&nbsp;</p>
            <span id="digit"></span>
          </div>
          <div class="mx-2 d-flex">
            <p>Akurasi:&nbsp;</p>
            <span id="accuracy"></span>
          </div>
        </div>
        <div class="text-center">
          <button class="button button-1" onclick="javascript:clearArea();return false;">Bersihkan</button>
          <button class="button button-2" onclick="javascript:save_image();return false;">Prediksi</button>
        </div>
      </div>
    </div>
  </section>
  <section class="last"></section>
 <footer class="text-center py-4 mt-5">
  &copy; 2022 Asima Powered by <span class="text-primary" style="cursor:pointer;" onclick="location.href='https://t.me/tngstd'">TNGStudio</span>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
 <!-- <script src="../static/draw.js"></script>  -->
</body>
</html>